@model UE_ManagerWebApp.Paged.PaginatedList<UE_ManagerWebApp.Models.Customers>

@{
    ViewData["Title"] = "Index";
}

<h1>Clientes</h1>

<p>
    <a class="btn btn-success" type="button" asp-action="Create" role="button">Nuevo</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-row align-items-center">
        <div class="col-auto">
            <label class="sr-only" for="inlineFormInput">Name</label>
            <input type="text" class="form-control" id="inlineFormInput" name="SearchString" value="@ViewData["currentFilter"]" placeholder="Nombre o Codigo">
        </div>
        <div class="col-auto">
            <button type="submit" value="Search" class="btn btn-primary">Buscar</button>
        </div>
        @*<div class="col-auto">
            <a asp-action="Index" class="btn btn-info">Lista completa</a>
        </div>*@
    </div>
</form>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Código
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Nombre</a>
            </th>
            <th>
                Estado
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Fecha de Creación</a>
            </th>
            <th>
                País
            </th>
            <th>
                Cartera
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @if (item.Status.Equals("A"))
                    {
                        <a>Activo</a>
                    }
                    else
                    {
                        <a>Inactivo</a>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Wallet)
                </td>
                <td>
                    <a class="btn btn-warning" type="button" asp-action="Edit" asp-route-id="@item.Id" role="button">Edit</a>
                    <a class="btn btn-info" type="button" asp-action="Details" asp-route-id="@item.Id" role="button">Details</a>
                    <a class="btn btn-danger" type="button" asp-action="Delete" asp-route-id="@item.Id" role="button">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-dark @prevDisabled">
    Anterior
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-dark @nextDisabled">
    Siguiente
</a>